<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="36993DaveVoyles.SuperRawr-Type" Version="0.1.0.21" Publisher="CN=2B6303F6-C856-4B30-BF0F-65725117C944" />
  <Properties>
    <DisplayName>Super Rawr-Type</DisplayName>
    <PublisherDisplayName>Dave Voyles</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Super Rawr-Type" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="SuperRawrType" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" ShortName="Super Rawr Type" WideLogo="images\WideLogo.png" />
        <SplashScreen Image="images\splashscreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
</Package>